process.container = 'nextflow/rnaseq-nf'
docker.runOptions='-u $(id -u):$(id -g)'
docker.enabled = true
docker.registry = 'quay.io'
docker.userEmulation = true
docker.runOptions = "--platform linux/x86_64"
params.outdir = "results/"

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName:PICARD_ADDORREPLACEREADGROUPS{
    ext.args = "--RGID 4 --RGLB 'lib1' --RGPL 'ILLUMINA' --RGPU 'unit1' --RGSM 20"
    }
    memory = '5 GB' 
    cpus = 4 
}

profiles {
    lsf {
        process.executor = 'lsf'
        singularity.enabled = true
        process.container = 'https://depot.galaxyproject.org/singularity/salmon:1.10.1--h7e5ed60_0'
        singularity.cacheDir = "$PWD"
        singularity.autoMounts = true
    }
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'nextflow/rnaseq-nf'
        docker.runOptions='-u $(id -u):$(id -g)'
    }
}


params {

    test_data_msk {
        'lung_reads' {
            'reads' {
                lung_1                                            = "https://raw.githubusercontent.com/seqeralabs/nextflow-tutorial/master/data/ggal/lung_1.fq"
                lung_2                                            = "https://raw.githubusercontent.com/seqeralabs/nextflow-tutorial/master/data/ggal/lung_2.fq"
            }
        }
        'uncollapsed_bam_generation' {
            'merged_fastq' {
                merged_1                                            = "https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/feature/uncollapsed_bam_data/uncollapsed-bam-generation/merged_fastq_1.fastp.fastq.gz"
                merged_2                                            = "https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/feature/uncollapsed_bam_data/uncollapsed-bam-generation/merged_fastq_2.fastp.fastq.gz"
            }
        }
    }

}