process.container = 'nextflow/rnaseq-nf'
docker.runOptions='-u $(id -u):$(id -g)'
docker.enabled = true

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

params {

    test_data_msk {
        'lung_reads' {
            'reads' {
                lung_1                                            = "https://raw.githubusercontent.com/seqeralabs/nextflow-tutorial/master/data/ggal/lung_1.fq"
                lung_2                                            = "https://raw.githubusercontent.com/seqeralabs/nextflow-tutorial/master/data/ggal/lung_2.fq"
            }
        }
        
    }

}


