
executor.cpus          = 4
executor.memory        = 10.GB
profiles {
    lsf {
        process.executor = 'lsf'
        singularity.enabled = true
        process.container = 'https://depot.galaxyproject.org/singularity/salmon:1.10.1--h7e5ed60_0'
        singularity.cacheDir = "$PWD"
        singularity.autoMounts = true
    }
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'nextflow/rnaseq-nf'
        docker.runOptions='-u $(id -u):$(id -g)'
    }
}


process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}